.App {
  text-align: center;
  display: grid;
  place-items: center;
}

.Input {
  margin: .5rem;
}

.Button {
  margin-top: 1rem;
}

.Description {
  width: 400px;
  /* border: 1px solid black; */
  text-transform: capitalize;
  margin-top: .5rem;
}