.App {
  text-align: center;
  display: grid;
  place-items: center;
}

.Input {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.Description {
  width: 400px;
  /* border: 1px solid black; */
  text-transform: capitalize;
  margin-top: .5rem;
}