.App {
  text-align: center;
  display: grid;
  place-items: center;
  background-image: url('../public/sky.svg');
  height: 100vh;
  width: 100vw;
}

.Input {
  margin: .5rem;
}

.Button {
  margin-top: 1rem;
}

.Description {
  width: 500px;
  text-transform: capitalize;
  margin-top: .5rem;
}